<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;text-indent:34.0pt;line-height:150%'>
    <span lang=UK style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman",serif'>
        Додатковий
        коментар до повідомлення:
    </span>
</p>

<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:0cm;text-align:justify;line-height:150%'>
    <span lang=EN-US
          style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman",serif'>@@MessageComment@@</span><span style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman",serif'>.</span>
</p>