@{
    ViewData["Title"] = "Вибір ліцензіата";
}

@section Buttons {
}

<div class="content-item-holder">
    <div class="content-item">
        <div class="content-item-outer">
            <div class="content-item-header">
                <i class="icon-xlg icon-person-add"></i>
                <h2 id="edit-title">Вибір ліцензіата</h2>
            </div>
            <div class="content-item-inner">
                <p>Використано невірне посилання</p>
            </div>
        </div>
    </div>
</div>