<script>
    function CheckLicense(e, element, appType) {
        var licUrl = $(element).data('url');
        var checkUrl = $(element).data('url-check');
        $.ajax({
            url: checkUrl,
            type: 'GET',
            success: function (data) {
                document.location = licUrl;
            },
            error: function (error) {
                mt.createDialog(e, appType + " не знайдена!", null);
            }
        });
    }
</script>

<aside id="aside" class="aside">
    <span id="aside-arrow-top" class="aside-arrow aside-arrow-top">
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             style="enable-background:new 0 0 139 139;"
             version="1.1"
             viewBox="0 0 139 139"
             xml:space="preserve">
        <polyline style="fill:none;stroke:#ffffff;stroke-width:6;stroke-miterlimit:10;" id="XMLID_6_" points="115.5,78.5 69.5,60.5 23.5,78.5 " />











        </svg>
    </span>
    <span id="aside-arrow-bottom" class="aside-arrow aside-arrow-bottom">
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             style="enable-background:new 0 0 139 139;"
             version="1.1" viewBox="0 0 139 139"
             xml:space="preserve">
        <polyline style="fill:none;stroke:#fff;stroke-width:6;stroke-miterlimit:10;" class="st0" id="XMLID_6_" points="23.5,60.5 69.5,78.5 115.5,60.5 " />







        </svg>
    </span>
    <ul id="aside-menu" class="aside-menu menu-vertical">

        <li class="aside-menu-li">
            <div class="aside-menu-li-inner menu-item-wrapper">
                <a class="menu-item"
                   asp-controller="PrlLicense"
                   asp-action="Index"
                   asp-area="REG">
                    <div class="menu-item-inner">
                        <i class="icon icon-lg icon-compass"></i>
                        <span>Ліцензії з виробництва</span>
                    </div>
                </a>
            </div>
        </li>
        <li class="aside-menu-li">
            <div class="aside-menu-li-inner menu-item-wrapper">
                <a class="menu-item"
                   asp-controller="ImlLicense"
                   asp-action="Index"
                   asp-area="REG">
                    <div class="menu-item-inner">
                        <i class="icon icon-lg icon-compass"></i>
                        <span>Ліцензії з імпорту</span>
                    </div>
                </a>
            </div>
        </li>
        <li class="aside-menu-li">
            <div class="aside-menu-li-inner menu-item-wrapper">
                <a class="menu-item"
                   asp-controller="TrlLicense"
                   asp-action="Index"
                   asp-area="REG">
                    <div class="menu-item-inner">
                        <i class="icon icon-lg icon-compass"></i>
                        <span>Ліцензії з торгівлі</span>
                    </div>
                </a>
            </div>
        </li>

    </ul>
</aside>