<html>
<head>
    <meta charset=utf-8>
</head>
<body bgcolor="#c0c0c0">
    <br>
    <table style="border: 1px solid black; width: 900px; margin: auto" bgcolor="#FFFFFF">
        <thead>
        <td colspan="2" style="font-size: 20px; font-family:Calibri; padding: 25px 40px;"><b>Шановний @@name@@.</b></td>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="padding: 10px 40px; font-family:Calibri; font-size: 16px">
                    Проекти створених вами @appORmsg@@ буде автоматично видалено. Якщо Ви плануєте подати створені документи до Держлікслужби, зробіть це найближчим часом. <br />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px 40px; font-family:Calibri; font-size: 16px">
                    <p><b>Перелік заяв, що буде видалено найближчого часу:</b></p>

                    <table style="border: 1px solid black; width: 95%; margin: auto">
                        <tr>
                            <th colspan="2" style="border: 1px solid black; padding: 2px 10px; font-family:Calibri; font-size: 14px;  text-align: center; background-color:lightgray; width: 150px">
                                Дата створення
                            </th>
                            <th colspan="2" style="border: 1px solid black; padding: 2px 10px; font-family:Calibri; font-size: 14px; text-align: center; background-color:lightgray"">
                                Тип заяви
                            </th>
                            <th colspan="2" style="border: 1px solid black; padding: 2px 10px; font-family:Calibri; font-size: 14px; text-align: center; background-color:lightgray; width: 150px"">
                                Буде видалено
                            </th>
                        </tr>
                        <tr style="border: 1px solid black">
                            <td colspan="2" style="border: 1px solid black; padding: 2px 10px; font-family:Calibri; font-size: 14px; text-align: center; background-color:white">
                                10:37,<br /> 11 жовтня 2019
                            </td>
                            <td colspan="2" style="border: 1px solid black; padding: 2px 10px; font-family:Calibri; font-size: 14px; text-align: left; background-color:white">
                                Заява про отримання ліцензії на провадження діяльності з виробництва лікарських засобів (промислового)
                            </td>
                            <td colspan="2" style="border: 1px solid black; padding: 2px 10px; font-family:Calibri; font-size: 14px; text-align: center; background-color:white">
                                00:00,<br />  13 жовтня 2019
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px 40px; font-family:Calibri; font-size: 16px">
                    Проекти заяв Ви можете знайти в розділі <a href="@@appLink@@">"Подання заяв"</a> порталу.<br />
                    Проекти повідомлень Ви можете знайти в розділі <a href="@@msgLink@@">"Повідомлення"</a> порталу.
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 1px 40px; font-family:Calibri; font-size: 16px"><hr style="color: #333333"></td>
            </tr>
            <tr style="padding: 1px 40px; font-size: 16px">
                <td style="padding: 5px 40px; font-family:Calibri; font-size: 16px"><b>Адреса:</b></td>
                <td style="padding: 1px 40px 1px 0; font-family:Calibri; font-size: 16px">
                    <span style="width:100%; font-family:Calibri;">03115, м. Київ, проспект Перемоги, 120-А</span> <br>
                    <span style="width:100%; font-family:Calibri;">03110, м. Київ, проспект Валерія Лобановського, 51</span>
                </td>
            </tr>
            <tr style="padding: 1px 40px; font-size: 16px">
                <td style="padding: 1px 40px; font-family:Calibri; font-size: 16px"><b>E-mail:</b></td>
                <td style="padding: 1px 40px 1px 0; font-size: 16px; font-family:Calibri;">
                    <a href="mailto:exemple@gmail.com" target="_blank" style="text-decoration: none font-family:Calibri;">dls@dls.gov.ua</a>
                </td>
            </tr>
            <tr style="padding: 1px 40px; font-size: 16px">
                <td style="padding: 1px 40px; font-family:Calibri; font-size: 16px"><b>Web:</b></td>
                <td style="padding: 1px 40px 1px 0; font-size: 16px; font-family:Calibri;">
                    <a href="http://dls.gov.ua" style="text-decoration:none">http://dls.gov.ua</a>
                </td>
            </tr>
            <tr>
                <td> <br> </td>
            </tr>
        </tbody>
    </table>
</body>
</html>