<html>
<head>
    <meta charset=utf-8>
</head>
<body bgcolor="#c0c0c0">
    <br>
    <table style="border: 1px solid black; width: 700px; margin: auto" bgcolor="#FFFFFF">
        <thead>
        <td colspan="2" style="font-size: 20px; font-family:Calibri; padding: 25px 40px;"><b>Шановний @@name@@.</b></td>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="padding: 10px 40px; font-family:Calibri; font-size: 16px">
                    Ви подали до Державної служби України з лікарських засобів та контролю за наркотиками повідомлення @@msgtype@@ від @@date@@. <br /><br /> Інформація по повідомленню <b>@@msgdecision@@</b> до розгляду.
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px 40px; font-family:Calibri; font-size: 16px">
                    Інформацію щодо розгляду повідомлення Ви можете побачити в розділі
                    <a href="@@monitoringLink@@">"Повідомлення" порталу.</a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 1px 40px; font-family:Calibri; font-size: 16px"><hr style="color: #333333"></td>
            </tr>
            <tr style="padding: 1px 40px; font-size: 16px">
                <td style="padding: 5px 40px; font-family:Calibri; font-size: 16px"><b>Адреса:</b></td>
                <td style="padding: 1px 40px 1px 0; font-family:Calibri; font-size: 16px">
                    <span style="width:100%; font-family:Calibri;">03115, м. Київ, проспект Перемоги, 120-А</span> <br>
                    <span style="width:100%; font-family:Calibri;">03110, м. Київ, проспект Валерія Лобановського, 51</span>
                </td>
            </tr>
            <tr style="padding: 1px 40px; font-size: 16px">
                <td style="padding: 1px 40px; font-family:Calibri; font-size: 16px"><b>E-mail:</b></td>
                <td style="padding: 1px 40px 1px 0; font-size: 16px; font-family:Calibri;">
                    <a href="mailto:exemple@gmail.com" target="_blank" style="text-decoration: none font-family:Calibri;">dls@dls.gov.ua</a>
                </td>
            </tr>
            <tr style="padding: 1px 40px; font-size: 16px">
                <td style="padding: 1px 40px; font-family:Calibri; font-size: 16px"><b>Web:</b></td>
                <td style="padding: 1px 40px 1px 0; font-size: 16px; font-family:Calibri;">
                    <a href="http://dls.gov.ua" style="text-decoration:none">http://dls.gov.ua</a>
                </td>
            </tr>
            <tr>
                <td> <br> </td>
            </tr>
        </tbody>
    </table>
</body>
</html>