@model App.Data.DTO.MSG.ProductionDossierChangeMessageDTO
@inject App.Core.Mvc.Helpers.SelectListHelper Sel

@{
    ViewData["Title"] = "Повідомлення";
}

@section Buttons {
    <a class="content-item-btn btn-column-list icon-md icon-list" data-title="Змінити вигляд" data-tooltipleft='1'></a>
}

<div class="content-item-holder">
    <div class="content-item">
        <div class="content-item-header">
            @if (Model.Id == Guid.Empty)
            {
                <i class="icon-xlg icon-add-file"></i>
                <h2>Створення повідомлення щодо заміни або нової редакції Досьє з виробництва</h2>
            }
            else
            {
                <i class="icon-xlg icon-edit-list"></i>
                <h2>Редагування повідомлення щодо заміни або нової редакції Досьє з виробництва</h2>
            }
        </div>


        <form id="frmSub" asp-action="EditMessage" method="post" class="content-item-edit"  asp-antiforgery="true">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsCreatedOnPortal" />
            <input type="hidden" asp-for="MessageType" value="ProductionDossierChange" />
            <input type="hidden" asp-for="OrgUnitId" value="@ViewBag.OrgId" />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="content-item-inner">
                <div class="content-edit">
                    <div class="datepicker-group input-group">
                        <input class="input datepicker"
                               autocomplete="off"
                               type="text" asp-for="MessageDate" />
                        <span class="input-group-bar"></span>
                        <label asp-for="MessageDate"></label>
                        <span asp-validation-for="MessageDate" class="asp-validation"></span>
                    </div>
                </div>
                <div class="content-edit ">
                    <div class="input-group">
                        <input asp-for="MessageNumber"
                               class="input"
                               autocomplete="off" />
                        <span class="input-group-bar"></span>
                        <label asp-for="MessageNumber"></label>
                        <span asp-validation-for="MessageNumber" class="asp-validation"></span>
                    </div>
                </div>
            </div>

            <div class="content-item-inner">
                <div class="content-edit">
                    <div class="select-group">
                        <select asp-for="LicenseType"
                                class="select"
                                asp-items='@ViewBag.LicenseList'
                                autocomplete="off">
                            <option></option>
                        </select>
                        <label asp-for="LicenseType"></label>
                        <span asp-validation-for="LicenseType" class="asp-validation"></span>
                    </div>
                </div>
            </div>

            <div class="content-item-inner">
                <div class="content-edit content-edit-wide">
                    <div class="textarea-group">
                        <textarea asp-for="MessageText"
                                  class="textarea"
                                  autocomplete="off">
                                </textarea>
                        <span class="input-group-bar"></span>
                        <label asp-for="MessageText">Додайте примітки та коментарі до повідомлення</label>
                        <span asp-validation-for="MessageText" class="asp-validation"></span>
                    </div>
                </div>
            </div>
            <div class="content-submit-holder btn-holder btn-holder-right">
                <a href="#" onclick="mt.goStepBack()" class="btn btn-danger btn-text">Відмінити</a>
                <input type="submit" value="Зберегти" class="btn btn-secondary btn-fill" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#frmSub").submit(function (event) {
            var input = $("input[type='submit']");
            input.prop('disabled', true);
            input.addClass("disabled");
        });
    });
</script>

