@model App.Data.DTO.PRL.PrlContractorDetailDTO
@inject App.Core.Mvc.Helpers.SelectListHelper Sel

@{
    ViewData["Title"] = "Контрактний контрагент";
}

@section Buttons {
    <a class="content-item-btn btn-column-list icon-md icon-list" data-title="Змінити вигляд" data-tooltipleft='1'></a>
}

<div class="content-item-holder">
    <div class="content-item">
        <div class="content-item-header">

            @if (Model.Id == Guid.Empty)
            {<i class="icon-xlg icon-add-file"></i>
                <h2>Створення контрактного контрагента</h2>
            }
            else
            { <i class="icon-xlg icon-edit-list"></i>
                <h2>Редагування контрактного контрагента</h2>
            }

        </div>

        <form asp-action="EditLicense" class="content-item-edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="LicenseDeleteCheck" />
            <input type="hidden" asp-for="LicenseContractorId" />
            <input type="hidden" asp-for="appId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="content-item-inner">
                <div class="content-edit">
                    <div class="select-group">
                        <select asp-for="ContractorType"
                                class="select"
                                asp-items='@Sel.Enum("ContractorType")'
                                autocomplete="off"
                                readonly>
                            <option value="@Model.ContractorType">@Model.ContractorType</option>
                        </select>
                        <label asp-for="ContractorType"></label>
                        <span asp-validation-for="ContractorType" class="asp-validation"></span>
                    </div>
                </div>

                <div class="content-edit">
                    <div class="input-group">
                        <input asp-for="Edrpou"
                               validate
                               validate-not-empty
                               class="input"
                               autocomplete="off"
                               readonly />
                        <span class="input-group-bar"></span>
                        <label asp-for="Edrpou"></label>
                        <span asp-validation-for="Edrpou"
                              class="asp-validation"></span>
                    </div>
                </div>

                <div class="content-edit">
                    <div class="input-group">
                        <input asp-for="Name"
                               validate
                               validate-not-empty
                               class="input"
                               autocomplete="off"
                               readonly />
                        <span class="input-group-bar"></span>
                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name"
                              class="asp-validation"></span>
                    </div>
                </div>

                <div class="content-edit">
                    <div class="input-group">
                        <input asp-for="Address"
                               validate
                               validate-not-empty
                               class="input"
                               autocomplete="off"
                               readonly />
                        <span class="input-group-bar"></span>
                        <label asp-for="Address"></label>
                        <span asp-validation-for="Address"
                              class="asp-validation"></span>
                    </div>
                </div>

                <div class="content-edit">
                    <select asp-for="ListOfBranches"
                            id="branches-select"
                            data-placeholder="Оберіть МПД"
                            class="multiselect"
                            multiple
                            asp-items="@ViewBag.multiSelectBranchList"
                            autocomplete="off"></select>

                    <span asp-validation-for="ListOfBranches" class="asp-validation"></span>
                </div>
            </div>
            <div class="content-submit-holder btn-holder btn-holder-right">
                <a href="#" onclick="mt.goStepBack()" class="btn btn-text btn-danger">Відмінити</a>
                <input type="submit" value="Зберегти" class="btn btn-secondary btn-fill" />
            </div>
        </form>
    </div>
</div>