@model App.Data.DTO.SEC.ApplicationRowLevelRightDTO

@section Buttons {
    <a class="content-item-btn btn-column-list icon-md icon-list" data-title="Змінити вигляд" data-tooltipleft="1"></a>
}

<div class="content-item-holder">
    <div class="content-item">
        <div class="content-item-header">
            <i class="icon-xlg icon-person-edit"></i>
            <h2>Права на рівні записів (редагування)</h2>
        </div>

        <form asp-action="Edit" class="content-item-edit">
            <input type="hidden"
                   asp-for="Id" />
            <div asp-validation-summary="ModelOnly"
                 class="text-danger"></div>
            <div class="content-edit">
                <div class="select-group">
                    <select asp-for="EntityName"
                            class="select"
                            asp-items='@ViewBag.EntityListNames'
                            autocomplete="off"></select>
                    <label asp-for="EntityName"></label>
                    <span asp-validation-for="EntityName" class="asp-validation"></span>
                </div>
            </div>
            <div class="content-edit">
                <div class="checkbox-group">
                    <div class="checkbox-group-inner">
                        <input class="checkbox" asp-for="IsActive" />
                        <label asp-for="IsActive"></label>
                    </div>
                    <span class="checkbox-group-bar"></span>
                </div>
            </div>
            <div class="content-submit-holder btn-holder btn-holder-right">
                <a href="#" onclick="mt.goStepBack()" class="btn btn-danger btn-text">Відмінити</a>
                <input type="submit" value="Зберегти" class="btn btn-secondary btn-fill" />
            </div>
        </form>
    </div>
</div>
