SELECT
     id,
	 doc_id,
	 reg_num,
	 reg_proc_code,
	 state_id,
	 reg_date,
	 end_date,
	 ord_reg_num,
	 ord_reg_date,
	 COALESCE(drug_name_ukr, '') as drug_name_ukr,
	 COALESCE(drug_name_eng, '') as drug_name_eng,
	 formtype_desc as form_type_desc,
	 COALESCE(form_name,'') as form_name,
	 COALESCE(farm_group, '') as farm_group,
	 producer_name,
	 COALESCE(prod_country_name, '') as prod_country_name,
	 COALESCE(side_name, '') as side_name,
	 country_name,
	 is_resident,
	 COALESCE(regproc_name, '') as reg_proc_name,
	 COALESCE(reg_procedure, '') as reg_procedure,
	 COALESCE(drug_class_name, '') as drug_class_name,
	 COALESCE(drugtype_name, '') as drug_type_name,
	 COALESCE(off_order_num, '') as off_order_num,
	 off_order_date,
	 COALESCE(off_reason, '') as off_reason,
	 COALESCE(active_substances, '') as active_substances,
	 COALESCE(atc_code, '') as atc_code,
	 COALESCE(sale_terms, '') as sale_terms,
	 COALESCE(publicity_info, '') as publicity_info,
	 COALESCE(notes, '') as notes,
	 COALESCE(caption,'') as caption
FROM
	lims_rp