
<header class="header">
    <!--aside switcher hamburger-->
    <div id="aside-switcher" class="aside-switcher active-after">
        <span class="aside-switcher-inner"></span>
        <span class="aside-switcher-inner"></span>
        <span class="aside-switcher-inner"></span>
    </div>

    <!--header logo-->
    <a href="/" class="header-logo">
        <div class="img-holder header-logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 64" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0C18.45 1.69243 17.5 3.91299 17.5 6.33761C17.6 11.679 18.275 17.0083 18.3375 22.3496C18.4625 27.3189 16.9125 31.9881 15.025 36.5372C14.3875 37.7976 13.7125 39.0339 13.025 40.2702L11.025 39.8741C9.21248 39.526 8.03748 37.8456 8.39998 36.1171C8.72498 34.5928 10.1125 33.5485 11.6625 33.5365L12.3875 33.6085L10.7625 20.5732C10.225 14.7637 7.11248 9.66245 2.5125 6.33764C1.7125 5.7735 0.874999 5.25737 0 4.78925V51.1448H11.15C11.9875 55.4899 14.475 59.2708 17.975 61.8755C18.8125 62.4156 19.5 63.1478 20 64C20.5 63.1478 21.1875 62.4156 22.025 61.8755C25.525 59.2708 28.0125 55.4898 28.85 51.1448H40V4.78925C39.125 5.25737 38.2875 5.7735 37.4875 6.33764C32.8875 9.66248 29.775 14.7638 29.2375 20.5732L27.6125 33.6085L28.3375 33.5365C29.8875 33.5485 31.275 34.5928 31.6 36.1171C31.9625 37.8456 30.7875 39.526 28.975 39.8741L26.975 40.2702C26.2875 39.0339 25.6125 37.7976 24.975 36.5372C23.0875 31.9881 21.5375 27.3189 21.6625 22.3496C21.725 17.0083 22.4 11.679 22.5 6.33761C22.5 3.913 21.55 1.69243 20 0H20ZM3.33748 11.4749C5.49997 13.8995 6.94997 16.9243 7.37497 20.2611L8.71247 31.0278C7.01247 31.844 5.71247 33.3324 5.22498 35.1329H3.33748V11.4749V11.4749ZM36.6625 11.4749V35.1329H34.775C34.2875 33.3324 32.9875 31.8441 31.2875 31.0279L32.625 20.2611C33.05 16.9243 34.5 13.8995 36.6625 11.4749V11.4749ZM20 33.1044C20.8875 35.9131 22.125 38.5778 23.65 41.0624C22.2 41.4945 20.925 42.3227 20 43.427C19.075 42.3107 17.8 41.4945 16.35 41.0624C17.875 38.5777 19.1125 35.9131 20 33.1044ZM3.33748 38.3377H5.22498C5.82498 40.5462 7.61248 42.2987 9.89998 42.8988L11.5 43.2589C11.075 44.7473 10.8375 46.3197 10.8375 47.9401H3.3375V38.3377L3.33748 38.3377ZM34.7749 38.3377H36.6624V47.9401H29.1625C29.1625 46.3197 28.925 44.7473 28.5 43.2589L30.1 42.8988C32.375 42.2987 34.175 40.5462 34.775 38.3377L34.7749 38.3377ZM14.7625 43.9911C16.775 44.2672 18.3375 45.9236 18.3375 47.9401H14.175C14.175 46.5718 14.3875 45.2515 14.7625 43.9911ZM25.2374 43.9911C25.6124 45.2515 25.8249 46.5718 25.8249 47.9401H21.6624C21.6624 45.9236 23.2249 44.2672 25.2374 43.9911ZM14.5499 51.1449H18.3374V57.8786C16.4999 56.0302 15.1624 53.7136 14.5499 51.1449ZM21.6624 51.1449H25.4499C24.8374 53.7136 23.4999 56.0302 21.6624 57.8786V51.1449Z" fill="#FEE648" />
            </svg>
        </div>
        <div class="header-inner">
            <h1>Портал Держлікслужби</h1>
        </div>
    </a>
    @*
            <div class="header-inner header-top">

                    <partial name="_HeaderTopMenu" />

        </div>
    *@
    <div class="header-inner header-account">

        <partial name="_UserDropdown" />

    </div>

    @*
        <div class="header-inner header-lang">


        </div>
    *@
</header>
