
<header class="header">
    <!--aside switcher hamburger-->
    <div id="aside-switcher" class="aside-switcher active-after">
        <span class="aside-switcher-inner"></span>
        <span class="aside-switcher-inner"></span>
        <span class="aside-switcher-inner"></span>
    </div>

    <!--header logo-->
    <a href="/" class="header-logo">
        <!-- <div class="img-holder">
            <img src="~/cost__logo.png" alt="LOGO" class="header__logo" />
        </div> -->
        <div class="header-inner">
            <h1>Держлікслужба</h1>
        </div>
    </a>
    @*
            <div class="header-inner header-top">

                    <partial name="_HeaderTopMenu" />

        </div>
    *@
    <div class="header-inner header-account">

        <partial name="_UserDropdown" />

    </div>
    @*
        <div class="header-inner header-lang">


        </div>
    *@
</header>
