@model App.Data.DTO.FDB.FeedBackDetailsDTO

@{
    ViewData["Title"] = "Сторінка оцінки роботи порталу";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Оцінка порталу онлайн-подачі та відслідковування заяв на отримання дозвільних документів, що надаються Держлікслужбою та її територіальними органами</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet" />
    <link href="~/fe-ext/stylesheets/info-page.css" rel="stylesheet" />
    <link href="~/stylesheets/starability-growRotate.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
    <div id="main-wrapper">        

        <div class="aside-wrapper">
            <div class="aside">
                <header class="aside__header">
                    <a class="aside__link" href="#">
                        <img class="aside__img" src="~/images/sidebar-emblem.svg" alt="Trizub" />
                        <span class="aside__label">портал держлікслужби</span>
                    </a>
                    <div class="aside__services">Оцінка роботи порталу електронних послуг</div>
                </header>
            </div>
        </div>

        <div id="content-wrapper">
            <div class="content__main">

                <h1 class="content__title">
                    Оцінка роботи порталу онлайн-подачі та відслідковування заяв на отримання дозвільних документів,
                    що надаються Держлікслужбою та її територіальними органами
                    <br /><br />
                </h1>

                <div class="content-item-inner content-details-wrapper">

                    <form asp-controller="UserArea" asp-action="SetRating" method="post" class="content-item-edit">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" class="form-control" />
                        <input type="hidden" asp-for="AppSort" class="form-control" />
                        <input type="hidden" asp-for="AppId" class="form-control" />
                        <input type="hidden" asp-for="OrgEmployeeId" class="form-control" />
                        <input type="hidden" asp-for="OrgId" class="form-control" />

                        <div class="content-details">
                            <div class="content-details-group">
                                <label>
                                    Ви подавали електронну заяву в особистому кабінеті на порталі Державної служби України з лікарських засобів та контролю за наркотиками. <br />
                                </label>

                                <label>
                                    Будь ласка оцініть роботу порталу:
                                </label>
                            </div>
                        </div>
                        <br />

                        <div class="content-details">
                            <div class="content-details-slot">
                                <fieldset class="starability-growRotate">
                                    <input asp-for="Rating" type="radio" id="no-rate" class="input-no-rate" value="0" checked aria-label="No rating." />

                                    <input asp-for="Rating" type="radio" id="rate1" value="1" />
                                    <label asp-for="Rating" for="rate1">1 star.</label>

                                    <input asp-for="Rating" type="radio" id="rate2" value="2" />
                                    <label asp-for="Rating" for="rate2">2 stars.</label>

                                    <input asp-for="Rating" type="radio" id="rate3" value="3" />
                                    <label asp-for="Rating" for="rate3">3 stars.</label>

                                    <input asp-for="Rating" type="radio" id="rate4" value="4" />
                                    <label asp-for="Rating" for="rate4">4 stars.</label>

                                    <input asp-for="Rating" type="radio" id="rate5" value="5" />
                                    <label asp-for="Rating" for="rate5">5 stars.</label>

                                    <span class="starability-focus-ring"></span>
                                </fieldset>

                                <legend id="label__rate">&nbsp;</legend>

                                <script>
                                    $("#rate1").on("click", function () {
                                        $("#label__rate").text("Дуже погано");
                                        $("#label__rate").css("color", "#a52525");
                                    });

                                    $("#rate2").on("click", function () {
                                        $("#label__rate").text("Погано");
                                        $("#label__rate").css("color", "red");
                                    });

                                    $("#rate3").on("click", function () {
                                        $("#label__rate").text("Нормально");
                                        $("#label__rate").css("color", "orange");
                                    });

                                    $("#rate4").on("click", function () {
                                        $("#label__rate").text("Добре");
                                        $("#label__rate").css("color", "green");
                                    });

                                    $("#rate5").on("click", function () {
                                        $("#label__rate").text("Дуже добре");
                                        $("#label__rate").css("color", "#4AD06F");
                                    });
                                </script>
                            </div>
                        </div>
                        <br />
                        <div class="content-details">
                            <div class="content-details-group">
                                <label>При необхідності додайте коментар до Вашої оцінки роботи порталу:</label>
                            </div>
                        </div>

                        <div class="input-group">
                            <p class="content__parag">
                                <textarea rows="8" style="width: 100%;" asp-for="Comment" class="input"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </p>
                        </div>

                        <p class="content__parag">
                            Дякуємо за Вашу участь в покращенні роботи державних установ <br /><br />
                        </p>

                        <input type="submit" value="відправити оцінку та коментар" class="btn__link content__button" />

                        @*<div class="content__button">
        <input type="submit" value="Відправити коментар" class="btn__feedback" />
        </div>*@
                    </form>
                </div>
            </div>
        </div>

        <div class="content__footer">
            <span class="content__footer--text">
                Проект реалізовано
                <a href="http://www.eurasia.org/">Фондом "Євразія"</a>,
                <a href="http://eef.org.ua/">Фондом Східна Європа</a> та
                <a href="https://www.e.gov.ua/">Державним агентством з питань електронного урядування України</a> у межах програми міжнародної технічної допомоги
                <a href="http://tapas.org.ua/">"Прозорість та підзвітність у державному управлінні та послугах" / TAPAS</a>, за фінансової підтримки
                <a href="https://www.usaid.gov/">Агенства США з міжнародного розвитку (USAID)</a> та
                <a href="https://www.gov.uk/government/organisations/department-for-international-development">Уряду Великої Британії (UK aid)</a>
            </span>
        </div>
    </div>    
</body>
</html>

    <script>
        $("label[for=rate1]").on("click", function () {
            $("#label__rate").text("Дуже погано");
            $("#label__rate").css("color", "#a52525");
        });
    </script>

    <script>
        $("label[for=rate2]").on("click", function () {
            $("#label__rate").text("Погано");
            $("#label__rate").css("color", "red");
        });
    </script>

    <script>
        $("label[for=rate3]").on("click", function () {
            $("#label__rate").text("Нормально");
            $("#label__rate").css("color", "orange");
        });
    </script>

    <script>
        $("label[for=rate4]").on("click", function () {
            $("#label__rate").text("Добре");
            $("#label__rate").css("color", "green");
        });
    </script>

    <script>
        $("label[for=rate5]").on("click", function () {
            $("#label__rate").text("Дуже добре");
            $("#label__rate").css("color", "#4AD06F");
        });
    </script>